<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/home.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(216, 14, 244, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="home"/>
        <form action="form1" class="bp4-home1024" method="post" name="form1">
            <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="bp4-background">
                    <img anima-src="./img/home-768-coachella-festival-atmosphere-2014-billboard-15485a4e1559cf484.png" class="bp4-coachellafestivalatmosphere2014billboard15485a4e1559cf484" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp4-rectangle4">
                    </div>
                </div>
                <img anima-src="./img/home-1024-help-us-to-change-th@4x.png" class="bp4-helpustochangeth" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp4-form">
                    <a href="#" onclick="document.getElementsByName('form1')[0].submit(); if (window.submitted) window.submitted();">
                        <div class="bp4-gobutton">
                            <div class="bp4-rectangle3copy">
                            </div>
                            <div class="bp4-go">
                                Go
                            </div>
                        </div>
                    </a>
                    <div class="bp4-emailtextfield">
                        <div class="bp4-rectangle3copy2">
                        </div>
                        <textarea class="bp4-textemail" name="textEmail" placeholder="email"></textarea>
                    </div>
                </div>
                <div class="bp4-betabadge">
                    <img anima-src="./img/home-1024-rectangle-4.png" class="bp4-rectangle41" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp4-beta">
                        Beta
                    </div>
                </div>
                <div class="bp4-weestee">
                    Weestee
                </div>
                <img anima-src="./img/home-1024-bitmap.png" class="bp4-bitmap" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </form>
        <form action="form2" class="bp3-home768" method="post" name="form2">
            <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                <div class="bp3-background">
                    <img anima-src="./img/home-768-coachella-festival-atmosphere-2014-billboard-15485a4e1559cf484.png" class="bp3-coachellafestivalatmosphere2014billboard15485a4e1559cf484" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp3-rectangle4">
                    </div>
                </div>
                <img anima-src="./img/home-768-help-us-to-change-th@4x.png" class="bp3-helpustochangeth" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp3-form">
                    <a href="#" onclick="document.getElementsByName('form2')[0].submit(); if (window.submitted) window.submitted();">
                        <div class="bp3-gobutton">
                            <div class="bp3-rectangle3copy">
                            </div>
                            <div class="bp3-go">
                                Go
                            </div>
                        </div>
                    </a>
                    <div class="bp3-emailtextfield">
                        <div class="bp3-rectangle3copy2">
                        </div>
                        <textarea class="bp3-textemail" name="textEmail" placeholder="email"></textarea>
                    </div>
                </div>
                <div class="bp3-betabadge">
                    <img anima-src="./img/home-1024-rectangle-4.png" class="bp3-rectangle41" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp3-beta">
                        Beta
                    </div>
                </div>
                <div class="bp3-weestee">
                    Weestee
                </div>
                <img anima-src="./img/home-1024-bitmap.png" class="bp3-bitmap" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </form>
        <form action="form3" class="bp2-home320" method="post" name="form3">
            <div style="width: 320px; height: 100%; position:relative; margin:auto;">
                <div class="bp2-background">
                    <img anima-src="./img/home-768-coachella-festival-atmosphere-2014-billboard-15485a4e1559cf484.png" class="bp2-coachellafestivalatmosphere2014billboard15485a4e1559cf484" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp2-rectangle4">
                    </div>
                </div>
                <img anima-src="./img/home-768-help-us-to-change-th@4x.png" class="bp2-helpustochangeth" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp2-form">
                    <a href="#" onclick="document.getElementsByName('form3')[0].submit(); if (window.submitted) window.submitted();">
                        <div class="bp2-gobutton">
                            <div class="bp2-rectangle3copy">
                            </div>
                            <div class="bp2-go">
                                Go
                            </div>
                        </div>
                    </a>
                    <div class="bp2-emailtextfield">
                        <div class="bp2-rectangle3copy2">
                        </div>
                        <textarea class="bp2-textemail" name="textEmail" placeholder="email"></textarea>
                    </div>
                </div>
                <div class="bp2-logo">
                    <div class="bp2-weestee">
                        Weestee
                    </div>
                </div>
                <img anima-src="./img/home-320-bitmap.png" class="bp2-bitmap" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="./img/home-320-beta-badge.png" class="bp2-betabadge" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </form>
        <form action="form4" class="bp1-home" method="post" name="form4">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="bp1-background">
                    <img anima-src="./img/home-coachella-festival-atmosphere-2014-billboard-15485a4e1559cf484.png" class="bp1-coachellafestivalatmosphere2014billboard15485a4e1559cf484" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp1-rectangle4">
                    </div>
                </div>
                <img anima-src="./img/home-iphonexclayblack@3x.png" class="bp1-iphonexclayblack" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="./img/home-text@4x.png" class="bp1-text" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp1-form">
                    <a href="#" onclick="document.getElementsByName('form4')[0].submit(); if (window.submitted) window.submitted();">
                        <div class="bp1-gobutton">
                            <div class="bp1-rectangle3copy">
                            </div>
                            <div class="bp1-go">
                                Go
                            </div>
                        </div>
                    </a>
                    <div class="bp1-emailtextfield">
                        <div class="bp1-rectangle3copy2">
                        </div>
                        <textarea class="bp1-textemail" name="textEmail" placeholder="email"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
